.artGrid {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.artGrid__tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom:20px;
  gap: 10px;
}

.artGrid__container {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

}

.art {
  width: 400px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  border: #2c2c3f 2px solid;
  @starting-style {
    opacity: 0;
    transform: scale(0.6);
  }
}
.art:hover {
  transition: all 0.2s ease-in-out;
  z-index: 3;
  transform: scale(1.1);
}

.tagButton {
  width: 150px;
  transition: all 0.5s ease-in-out;
  background-color: #2c2c3f;
  padding: 10px;
  border-radius: 30px;
}
.tagButton.active {
  border: none;
  background-color: #74a1f5e8;

  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.tagButton:hover:not(.active) {
  transition: all 0.5s ease-in-out;
  background-color: #3e4294;
  cursor: pointer;
}

@media screen and (max-width: 900px) {

  .art{
    width: 200px;
    height: 200px;
  }
  .artGrid__tags{
    gap: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .artGrid__container{
    gap: 10px;
  }
  .tagButton{
    width: 100px;
  }

  
}
@media screen and (max-width: 450px) {

  .art{
    width: 150px;
    height: 150px;
  }

  .artGrid__tags{
    gap: 5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .tagButton{
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}