.viewer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  user-select: none;
  transition: backdrop-filter 0.5s ease-in-out, background-color 0.5s ease-in-out;
  @starting-style {
    background-color: rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(0px);
  }
}
.viewer:not(.open) {
  pointer-events: none;
}

.viewerImageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viewerImage {
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;
  transition: all 0.5s ease-in-out;

  border: 2px solid white;

  @starting-style {
    transform: translateY(-30px);
  }
}
.viewerTitle {
  position: relative;
  top: 20px;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 0 0px;
  margin: 0;
  z-index: 2;
  transition: all 0.7s ease-in-out;

  @starting-style {
    transform: translateY(-30px);
  }
}
.viewerDescription {
  position: relative;
  top: 20px;
  font-size: 1.5rem;
  color: #74a1f5e8;
  text-align: center;
  padding: 0 10px;
  transition: all 1.2s ease-in-out;

  @starting-style {
    z-index: -2;
    top: -40px;
    overflow: clip;
    color: rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 450px) {

.viewerTitle {
  font-size: 25px;
  width: 80%;
  justify-self: center;
}
.viewerDescription {

  font-size: 20px;
  width: 80%;
  justify-self: center;
}
}