@media screen and (min-width: 901px) {
  .mainContainer {
    width: 35%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(24, 29, 39);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
    .homeArt {
      align-self: center;
      margin-bottom: 30px;
      width: 100%;
    }
    .cta {
      align-self: flex-end;
      font-size: 25px;
      color: white;
      text-align: center;
      background-color: #74a1f5e8;
      width: 200px;
      height: 35px;
      border-radius: 1px 0 0 1px;
    }
    .cta:hover {
      background-color: #5080d8e8;
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 900px) {
  .mainContainer {
    width: 70%;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
    .cta {
      align-self: flex-end;
    }
    .homeArt {
      align-self: center;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  .mainContainer {
    width: 90%;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
  }
  .cta {
    align-self: flex-end;
  }
  .homeArt {
    align-self: center;
    margin-bottom: 30px;
    max-width: 100%;
  }
}
