@media screen and (min-width: 901px) {
  .mainContainer {
    width: 25%;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
    .homeArt {
      align-self: center;
      margin-bottom: 30px;
      width: 100%;
    }
    .cta {
      align-self: flex-end;
    }
  }
}

@media screen and (min-width: 451px) and (max-width: 900px) {
  .mainContainer {
    width: 70%;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
    .cta {
      align-self: flex-end;
    }
    .homeArt {
      align-self: center;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  .mainContainer {
    width: 90%;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
  }
  .cta {
    align-self: flex-end;
  }
  .homeArt {
    align-self: center;
    margin-bottom: 30px;
    max-width: 100%;
  }
}
