@media screen and (min-width: 901px) {
  .flexHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .mainContainer {
    width: 35%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top : 20px;
    border: rgb(56, 105, 202) 2px solid;
    background-color: rgb(45, 70, 121);


    border-radius: 30px;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
    .homeTitle{
      Color: rgb(255, 207, 105);
    }
    .homeArt {
      align-self: center;
      margin-bottom: 30px;
      width: 100%;
      border: #2c2c3f 2px solid;
    }
    .cta {
      align-self: flex-end;
      font-size: 25px;
      color: white;
      text-align: center;
      background-color: #74a1f5e8;
      width: 200px;
      height: 35px;
      border-radius: 1px 0 0 1px;
    }
    .cta:hover {
      background-color: #5080d8e8;
    }
  }

  .logoLinks{
    width: 128px;
    image-rendering:pixelated;
    border:white 1px solid;
    cursor:pointer;
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .mail{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #3e4294;
    
    user-select:text;
    ;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 451px) and (max-width: 900px) {

  .flexHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .mainContainer {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top : 20px;
    border: rgb(56, 105, 202) 2px solid;
    background-color: rgb(45, 70, 121);
    border-radius: 30px;

    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
    .cta {
      align-self: flex-end;
    }
    .homeArt {
      align-self: center;
      margin-bottom: 30px;
      max-width: 100%;
      border: #2c2c3f 2px solid;
    }
  }
    .logoLinks{
    width: 128px;
    image-rendering:pixelated;
    border:white 1px solid;
    cursor:pointer;
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
    .mail{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #3e4294;
    
    user-select:text;
    ;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 450px) {
    .flexHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .mainContainer {
    width: 85%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top : 20px;
    border: rgb(56, 105, 202) 2px solid;
    background-color: rgb(45, 70, 121);
    border-radius: 30px;
    .text {
      width: 100%;
      font-size: 20px;
      text-align: left;
    }
  }
  .cta {
    align-self: flex-end;
  }
  .homeArt {
    align-self: center;
    margin-bottom: 30px;
    max-width: 100%;
    border: #2c2c3f 2px solid;
  }
    .logoLinks{
    width: 128px;
    image-rendering:pixelated;
    border:white 1px solid;
    cursor:pointer;
  }
  .logos{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
    .mail{
    font-size: 20px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #3e4294;
    
    user-select:text;
    ;
    transition: all 0.3s ease-in-out;
  }
}
