.contactCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid;
  border-color: white;
  border-radius: 25px;

  color: white;
  transition: all 0.3s ease-in-out;
}

.contactCard__IG {
  background-color: #f574e0e8;
}
.contactCard__X {
  background-color: #010813e8;
}
.contactCard__BK {
  background-color: #74a1f5e8;
}
.contactCard__Itch {
  background-color: #ff2449;
}

.contactCard:hover {
  background-color: #f1a809f3;
  transform: translateX(-20px);
  box-shadow: 15px 10px 0 0px #7d74f5e8;
  border-color: black;
  color: black;

  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}
.contactCard__link {
  text-decoration: none;
  font-size: 25px;
  margin-left: 20px;
}
