.mainContainer_contacts {
      width: 35%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(24, 29, 39);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  .text {
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
  }
}

.mail {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: #3e4294;
  
  user-select:text;
  ;
  transition: all 0.3s ease-in-out;
}

.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .text {
    width: 70%;
  }
}
.cardContainer{
  width: 70%;
  align-self: center;
}

@media screen and (min-width: 451px) and (max-width: 900px) {
  .contact__container {
    flex-direction: column;
    align-items: flex-start;
    .cta {
      color: white;
      align-self: center;
      text-align: center;
      background-color: #3e4294;
      padding-top: 20px;
      width: 175px;
      height: 50px;
      border-radius: 20px;
    }
  }
  .mainContainer_contacts {
    width: 70%;
    display: flex;
    flex-direction: column;
    .text {
      width: 100%;
      margin-top: 10px;
      font-size: 20px;
      text-align: left;
    }
  }
}
@media screen and (max-width: 450px) {
  .contact__container {
    flex-direction: column;
    align-items: flex-start;
    .cta {
      color: white;
      align-self: center;
      text-align: center;
      background-color: #3e4294;
      padding-top: 20px;
      width: 175px;
      height: 50px;
      border-radius: 20px;
    }
  }
  .mainContainer_contacts {
    width: 90%;
    display: flex;
    flex-direction: column;
    .text {
      width: 100%;
      margin-top: 10px;
      font-size: 20px;
      text-align: left;
    }
  }
}
