.text{
    margin: 20px;
    width: 500px;
    font-size: 20px;
    text-align: left;
}

.mail{
    user-select: all;
    font-size: 25px;
    color : #f5d774e8;
}
.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .text{
        width: 70%;
    }
}


@media screen and (max-width: 900px) {

  .mainContainer{
    margin: 50px;
  }
  .contact__container{
    flex-direction: column;
    align-items: flex-start;
    .cta{
        color: white;
        align-self: center;
        text-align: center;
        background-color: #3e4294;
        padding-top: 20px;
        width: 175px;
        height: 50px;
        border-radius: 20px;
    }
  }
  
}